logs
.venv
__pycache__


*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
codebase.txt
.env

sessions
browser_profile
archive
all_data
.claude
.gemini

simple_collector.py
update.

node_modules
package-lock.json
tests/output
tests/playwright-report
tests/tests
cache
simulation/reports
combat_log.txt
simulation/backup_2025-09-26_10-51-16/reports
venv_gpu/